<?xml version="1.0"?>
<config>
    <modules>
        <Olegnax_Luxurysettings>
            <version>0.1.0</version>
        </Olegnax_Luxurysettings>
    </modules>
    <admin>
        <routers>
            <luxurysettings>
                <use>admin</use>
                <args>
                    <module>Olegnax_Luxurysettings</module>
                    <frontName>luxurysettings</frontName>
                </args>
            </luxurysettings>
        </routers>
    </admin>            
	<adminhtml>
        <menu>
            <olegnax translate="title" module="luxurysettings">
                <title>Olegnax</title>
                <sort_order>9999</sort_order>
                <children>
                    <luxury translate="title" module="luxurysettings">
                        <title>Luxury</title>
                        <sort_order>10</sort_order>
                        <children>
                            <settings translate="title" module="luxurysettings">
                                <title>Theme Settings</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/system_config/edit/section/luxurysettings</action>
                            </settings>
                            <restore translate="title" module="luxurysettings">
                                <title>Restore Defaults</title>
                                <sort_order>20</sort_order>
                                <action>luxurysettings/adminhtml_restore</action>
                            </restore>
                            <activate translate="title" module="luxurysettings">
                                <title>Activate Theme</title>
                                <sort_order>30</sort_order>
                                <action>luxurysettings/adminhtml_activate</action>
                            </activate>
                        </children>
                    </luxury>
                </children>
            </olegnax>
        </menu>
		<translate>
		     <modules>
		         <olegnax>
		             <files>
		                 <default>Olegnax_Luxurysettings.csv</default>
		             </files>
		         </olegnax>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <luxurysettings>
			                                <title>Luxury Theme Settings</title>
			                            </luxurysettings>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<olegnax>
			                <children>
                                <luxury>
                                    <title>Luxury</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings>
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                        <activate>
                                            <title>Activate Theme</title>
                                        </activate>
                                    </children>
                                </luxury>
			                </children>
			            </olegnax>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <luxurysettings>
                <class>Olegnax_Luxurysettings_Block</class>
            </luxurysettings>
        </blocks>
        <helpers>
            <luxurysettings>
                <class>Olegnax_Luxurysettings_Helper</class>
            </luxurysettings>
        </helpers>
		<models>
            <luxurysettings>
                <class>Olegnax_Luxurysettings_Model</class>
            </luxurysettings>
        </models>
        <resources>
            <luxurysettings_setup>
                <setup>
                    <module>Olegnax_Luxurysettings</module>
	                <class>Olegnax_Luxurysettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </luxurysettings_setup>
            <luxurysettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </luxurysettings_write>
            <luxurysettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </luxurysettings_read>
        </resources>
    </global>
	<default>
		<luxurysettings>
			<appearance>
				<enable_font>0</enable_font>
				<font>Times New Roman</font>
				<color>#93AC2B</color>
				<bg_color>#f4f4f4</bg_color>
				<bg_pattern>pattern1</bg_pattern>
				<toolbar_bg>#f8f8f8</toolbar_bg>
				<toolbar_color>#949494</toolbar_color>
				<header_color>#414141</header_color>
				<header_bg>#ffffff</header_bg>
				<header_border>#DBDBDB</header_border>
				<bottom_text>#949494</bottom_text>
				<menu_color>#414141</menu_color>
				<menu_rollover>#ffffff</menu_rollover>
				<content_bg_color>#ffffff</content_bg_color>
			</appearance>
            <navigation>
                <home>1</home>
                <show_description>1</show_description>
                <show_learn_more>1</show_learn_more>
            </navigation>
			<catalog>
                <categories_filter>0</categories_filter>
            </catalog>
            <header>
                <top_signup>1</top_signup>
                <top_custom_link></top_custom_link>
                <top_custom_link_path></top_custom_link_path>
                <top_custom_link_anchor></top_custom_link_anchor>
                <top_custom_link_title></top_custom_link_title>
            </header>
            <labels>
                <new_label>1</new_label>
                <new_label_position>top-left</new_label_position>
                <sale_label>1</sale_label>
                <sale_label_position>top-right</sale_label_position>
            </labels>
		</luxurysettings>
	</default>
</config>